<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="mainLogo">
            </div>

            <div class="title">{{'RESET_PASSWORD.TITLE' | translate}}</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'RESET_PASSWORD.PASSWORD' | translate}}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error>
                        {{'RESET_PASSWORD.ERROR_PASSWORD_REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'RESET_PASSWORD.PASSWORD_CONFIRM' | translate}}</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        {{'RESET_PASSWORD.ERROR_PASSWORD_REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        {{'RESET_PASSWORD.ERROR_DIF_PASSWORDS' | translate}}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD"
                    [disabled]="resetPasswordForm.invalid">
                    {{'RESET_PASSWORD.RESET_PWD_BUTTON' | translate}}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">{{'RESET_PASSWORD.BACK_TO_LOGIN_BUTTON' | translate}}</a>
            </div>

        </div>

    </div>

</div>