<div id="gamesAndBalance" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <mat-progress-bar *ngIf="dataSource?.loadingData" mode="indeterminate"></mat-progress-bar>
    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          date_range
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          {{'DAILY_BALANCES.TITLE' | translate}}
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0" *ngIf="false">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="{{'GLOBAL.FILTER' | translate}}" [value]="searchTerm" (keyup)="applyFilter($event.target.value)">
        </div>
      </div>
      <!-- / SEARCH -->

      <div>
        <button mat-raised-button (click)="refresh()" class="refresh-button fuse-white mt-24 mt-md-0">
          <mat-icon>refresh</mat-icon>
        </button>
        <!-- ADD BUTTON -->
        <button mat-raised-button (click)="add()" class="add-product-button fuse-white mt-24 mt-md-0">
          <span>{{'DAILY_BALANCES.ADD' | translate}}</span>
        </button>
      </div>
      <!-- / ADD BUTTON -->
    </div>
    <!-- / HEADER -->



    <!-- CONTENT CARD -->
    <div class="content-card">
      <div>
        <!-- <div class="filter" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
          <app-filter class="filterControl" [groups]="filterGroups" noFiltersTextTranslationKey="GLOBAL.NO_FILTER_TEXT" filterTitleTranslationKey="GLOBAL.FILTER" (selectedFilterOptionsChanged)="optionSelected($event)" [selectedFilterOptions]="selectedFilterOptions"></app-filter>
        </div> -->
      </div>

      <mat-table class="money-requests-table" #table [dataSource]="dataSource?.data" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'DAILY_BALANCES.DATE' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let dailyBalance">
            <p class="text-truncate">{{dailyBalance.date | date:'dd/MM/yyyy'}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'DAILY_BALANCES.USER_NAME' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let dailyBalance">
            <p class="text-truncate">{{dailyBalance.user.name}} {{dailyBalance.user.lastName}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gamesCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'DAILY_BALANCES.GAMES_COUNT' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let dailyBalance">
            <p class="text-truncate">{{dailyBalance.gamesCount}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstRegistration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'DAILY_BALANCES.FIRST_REGISTRY' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let dailyBalance">
            <p class="text-truncate">{{dailyBalance.firstRegistration}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastRegistration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'DAILY_BALANCES.LAST_REGISTRY' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let dailyBalance">
            <p class="text-truncate">{{dailyBalance.lastRegistration}}</p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="dataSource?.displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let dailyBalance; columns: dataSource?.displayedColumns;" class="money-request" matRipple (click)="edit(dailyBalance)">
        </mat-row>

      </mat-table>

      <mat-paginator [showFirstLastButtons]="true" [length]="dataSource?.totalCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>