<div id="moneyRequest" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/moneyrequests'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          attach_money
        </mat-icon>

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="editing">
            {{moneyRequest?.user?.name + ' ' + moneyRequest?.user?.lastName | slice:0:55}}
            <span *ngIf="moneyRequest?.userName?.length > 55">...</span>
          </div>
          <div class="h2" *ngIf="!editing">
            {{'MONEY_REQUESTS_REGISTRY.TITLE' | translate}}
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button class="save-product-button" [disabled]="moneyRequestForm.invalid" *ngIf="!editing" (click)="add()">
        <span>{{'MONEY_REQUESTS_REGISTRY.ADD' | translate}}</span>
      </button>

      <div *ngIf="editing">
        <!-- <button *ngIf="editing" mat-raised-button class="delete-category-button" (click)="delete(category)" aria-label="Delete" matTooltip="Delete">
          {{'CATEGORIES_REGISTRY.DELETE' | translate}}
        </button> -->

        <button mat-raised-button class="save-product-button" *ngIf="editing" (click)="save()">
          <span>{{'MONEY_REQUESTS_REGISTRY.SAVE' | translate}}</span>
        </button>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <form name="moneyRequestForm" [formGroup]="moneyRequestForm" class="product w-100-p" fxLayout="column" fxFlex>

          <mat-tab-group>
            <mat-tab label="{{'MONEY_REQUESTS_REGISTRY.BASIC_INFORMATION' | translate}}">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field appearance="outline" class="w-100-p">
                  <mat-label>{{'MONEY_REQUESTS_MAIN.DATE' | translate}}</mat-label>
                  <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                  <input matInput name="date" formControlName="date" readonly>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="start start">
                  <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{'MONEY_REQUESTS_MAIN.USER_NAME' | translate}}</mat-label>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                    <input matInput name="userName" formControlName="userName" readonly>
                  </mat-form-field>
                  <div class="divider"></div>
                  <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{'MONEY_REQUESTS_MAIN.EMAIL' | translate}}</mat-label>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">email</mat-icon>
                    <input matInput name="userEmail" formControlName="userEmail" readonly>
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                  <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{'MONEY_REQUESTS_MAIN.POKER_ROOM_NAME' | translate}}</mat-label>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                    <input matInput name="pokerRoomName" formControlName="pokerRoomName" readonly>
                  </mat-form-field>
                  <div class="divider"></div>
                  <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{'MONEY_REQUESTS_MAIN.NICK_NAME' | translate}}</mat-label>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                    <input matInput name="nick" formControlName="nick" readonly>
                  </mat-form-field>
                  <div class="divider"></div>
                  <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{'MONEY_REQUESTS_MAIN.MORE_INFO' | translate}}</mat-label>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">info</mat-icon>
                    <input matInput name="moreInfo" formControlName="moreInfo" readonly>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                  <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{'MONEY_REQUESTS_MAIN.VALUE' | translate}}</mat-label>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">attach_money</mat-icon>
                    <input matInput name="value" formControlName="value">
                    <mat-error *ngIf="moneyRequestForm.get('value').hasError('pattern')">{{'MONEY_REQUESTS_ERRORS.VALUE_FORMAT_ERROR.MESSAGE' | translate}}</mat-error>
                  </mat-form-field>
                  <div class="divider"></div>
                  <mat-form-field appearance="outline" class="w-100-p">
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">lock</mat-icon>
                    <mat-label>{{'MONEY_REQUESTS_MAIN.STATUS' | translate}}</mat-label>
                    <mat-select placeholder="{{'MONEY_REQUESTS_MAIN.STATUS' | translate}}" name="status" formControlName="status">
                      <mat-option value="2">{{'MONEY_REQUESTS_MAIN.STATUS_OPTIONS.APPROVED' | translate}}</mat-option>
                      <mat-option value="1">{{'MONEY_REQUESTS_MAIN.STATUS_OPTIONS.REFUSED' | translate}}</mat-option>
                      <mat-option value="0">{{'MONEY_REQUESTS_MAIN.STATUS_OPTIONS.WAITING' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{'MONEY_REQUESTS_MAIN.DETAILS' | translate}}</mat-label>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">details</mat-icon>
                    <textarea name="details" formControlName="details" matInput type="text" rows="3" max-rows="3"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
  <!-- </div> -->