@mixin videos-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    app-Videos {

        .header {

            .search-wrapper {
                background: map-get($background, card);

                .search {

                    .mat-icon {
                        color: map-get($foreground, icon);
                    }

                    input {
                        background: map-get($background, card);
                        color: map-get($foreground, text);
                    }
                }
            }
        }
    }

    #app-videos-watch {

        .header {
            background: #1A237E;
            background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

            .hero-text {

                h1 {
                    color: white;
                }

                h3 {
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }
    }
}