<mat-toolbar style="height:40px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <span flex></span>
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <span style="font-size: 13px">Desenvolvido por:</span>
            <a mat-button href="https://danielancines.com" target="_blank">Daniel Ancines</a>
        </div>
        <div>
            <span class="version">v{{version}}</span>
        </div>
    </div>
</mat-toolbar>