<div id="moneyRequests" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <mat-progress-bar *ngIf="dataSource?.loadingData" mode="indeterminate"></mat-progress-bar>
    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          attach_money
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          {{'MONEY_REQUESTS_REGISTRY.TITLE' | translate}}
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0" *ngIf="false">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="{{'GLOBAL.FILTER' | translate}}" [value]="searchTerm" (keyup)="applyFilter($event.target.value)">
        </div>
      </div>
      <!-- / SEARCH -->

      <div>
        <button mat-raised-button (click)="refresh()" class="refresh-button fuse-white mt-24 mt-md-0">
          <mat-icon>refresh</mat-icon>
        </button>
        <!-- ADD BUTTON -->
        <!-- <button mat-raised-button (click)="add()" class="add-product-button fuse-white mt-24 mt-md-0">
              <span>{{'MONEY_REQUESTS_REGISTRY.ADD' | translate}}</span>
            </button> -->
      </div>
      <!-- / ADD BUTTON -->
    </div>
    <!-- / HEADER -->



    <!-- CONTENT CARD -->
    <div class="content-card">
      <div>
        <div class="filter" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
          <app-filter class="filterControl" [groups]="filterGroups" noFiltersTextTranslationKey="GLOBAL.NO_FILTER_TEXT" filterTitleTranslationKey="GLOBAL.FILTER" (selectedFilterOptionsChanged)="optionSelected($event)" [selectedFilterOptions]="selectedFilterOptions"></app-filter>
        </div>
      </div>

      <mat-table class="money-requests-table" #table [dataSource]="dataSource?.data" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MONEY_REQUESTS_MAIN.DATE' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let moneyRequest">
            <p class="text-truncate">{{moneyRequest.date | date:'dd/MM/yyyy'}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MONEY_REQUESTS_MAIN.USER_NAME' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let moneyRequest">
            <p class="text-truncate">{{moneyRequest.user.name}} {{moneyRequest.user.lastName}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pokerRoomName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MONEY_REQUESTS_MAIN.POKER_ROOM_NAME' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let moneyRequest">
            <p class="text-truncate">{{moneyRequest.pokerRoom.name}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MONEY_REQUESTS_MAIN.VALUE' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let moneyRequest">
            <span *ngIf="!moneyRequest.value">-</span>
            <div [ngSwitch]="moneyRequest.pokerRoom.currency" *ngIf="moneyRequest.value">
              <span *ngSwitchCase="'pt'">{{moneyRequest.value | currency:'BRL':'symbol':'1.2':'pt'}}</span>
              <span *ngSwitchCase="'en-US'">{{moneyRequest.value | currency:'USD':'symbol':'1.2':'pt'}}</span>
              <span *ngSwitchCase="'eur'">{{moneyRequest.value | currency:'EUR':'symbol':'1.2':'pt'}}</span>
              <span *ngSwitchDefault>{{moneyRequest.value | currency:'USD':'symbol':'1.2':'pt'}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
            {{'MONEY_REQUESTS_MAIN.STATUS' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let moneyRequest" fxHide fxShow.gt-xs>
            <div [ngSwitch]="moneyRequest.status">
              <mat-icon *ngSwitchCase="2" class="active-icon green-600 s-16" matTooltipPosition="above" matTooltip="{{'MONEY_REQUESTS_MAIN.MONEY_REQUEST_STATUS.APPROVED' | translate}}">check</mat-icon>
              <mat-icon *ngSwitchCase="1" class="active-icon red-500 s-16" matTooltipPosition="above" matTooltip="{{'MONEY_REQUESTS_MAIN.MONEY_REQUEST_STATUS.REFUSED' | translate}}">close</mat-icon>
              <mat-icon *ngSwitchCase="0" class="active-icon yellow-600 s-16" matTooltipPosition="above" matTooltip="{{'MONEY_REQUESTS_MAIN.MONEY_REQUEST_STATUS.WAITING' | translate}}">change_history
              </mat-icon>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="dataSource?.displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let moneyRequest; columns: dataSource?.displayedColumns;" class="money-request" matRipple (click)="edit(moneyRequest)">
        </mat-row>

      </mat-table>

      <mat-paginator [showFirstLastButtons]="true" [length]="dataSource?.totalCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>