#user {

    .access-table {
        width: 100%;
    }

    .header {

        .user-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .delete-user-button {
        margin-right: 10px;
        background: red;
    }


    .mat-column-name {
        flex: 0 1 20%;
    }

    .mat-column-nickName {
        flex: 0 1 20%;
    }

    .mat-column-fullName {
        flex: 0 1 25%;
    }

    .mat-column-email {
        flex: 0 1 20%;
    }

    .mat-column-moreInformation {
        flex: 0 1 15%;
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .user-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .reset-pwd-button {
            margin-left: 5px;
            margin-top: 26px;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}
